@model Roadmap.Models.RoadmapViewModel

@{
    var availableMarkets = Markets.AvailableMarkets;
    var languages = Common.GetLanguages();
    var selectedCountryCode = "es-MX";
    var hasCultura = this.Request.Cookies.AllKeys.Contains("LanguageCookieName");
    if (!hasCultura) {
        selectedCountryCode = this.Request.Cookies.Get("LanguageCookieName").Value;
    }
    //var selectedCountryCode = Common.GetSelectedCountryCode();
    var selectedLanguageID = Common.GetSelectedLanguageID();
    var selectedMarket = availableMarkets.FirstOrDefault(c => c.Countries.Contains(selectedCountryCode));
    var selectedCountry = selectedMarket == null ? CommonResources.Countries(availableMarkets.FirstOrDefault(m => m.IsDefault).CookieValue) : CommonResources.Countries(selectedMarket.CookieValue);
    var selectedLanguageCode = Common.GetLanguage(selectedLanguageID, selectedCountryCode);
    var selectedLanguage = languages.FirstOrDefault(l => l.CultureCode == selectedLanguageCode.CultureCode);
    var languageCode = selectedLanguage.CultureCode.Substring(0, 2).ToLower();
}


@{
    var height = "140px";
    var iheight = "10px";
    var backgound = "#F2F3F4";
    var wborder = "7px";
}

    <div class="flex-container" id="roadmap">
        <div class="flex-item item-1" style="z-index:99;">
            <span id="title" style="line-height: 1.1em;">@Html.Raw(HttpUtility.HtmlDecode(Resources.Common.WelcomeToRoadmap))</span>
            @if (languages.Count() > 1)
            {
                <div id="language-container" >
                    <span id="select-country">@Resources.Common.SelectCountry</span><br />
                    <div class="dropdown" id="country-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="languageText">
                            <img style="vertical-align:text-bottom" src="@Url.Content("~/Content/Images/country-flags/16/" + selectedLanguage.CultureCode.Substring(3, 2) + ".png")" />
                            <span style="color:#1F2A44; font-size:12px;">&nbsp;@selectedLanguage.Country&nbsp;</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var item in languages.Distinct())
                            {
                                var countryCode = item.CultureCode.Substring(3, 2);
                                if (countryCode == CountryCodes.Mexico || countryCode == CountryCodes.Colombia ||
                                    countryCode == CountryCodes.Peru || countryCode == CountryCodes.Guatemala ||
                                    countryCode == CountryCodes.DominicanRepublic)
                                {
                                    <li class="dropdown-menu-item">
                                        <a class="dropdown-menu-item-link" href="home/ChangeLanguage?language=@item.CultureCode">
                                            <img style="vertical-align:text-bottom" src="@Url.Content("~/Content/Images/country-flags/16/" + countryCode + ".png")" />
                                            <span style="color: #1F2A44; font-size: 12px;">@item.Country</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="flex-item item-2">
            <div class="cell N W color1">
                <div class="cell-content" id="invite">
                    <span>@Resources.Common.InviteToJoin<br /></span>
                    <div id="invite-button-container">
                        <a target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
                            <div class="invite-button">@Resources.Common.Yes</div>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
                            <div class="invite-button">@Resources.Common.No</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item item-3">
            <a class="pdf" target="_blank" href="@Resources.Common.ScheduleNextContactLink">
                <div class="cell H color1">
                    <div class="cell-content">
                        <span>@Resources.Common.ScheduleNextContact</span>
                    </div>
                </div>
                <div id="arrow-down-id">
                    <img src="@Url.Content("~/Content/images/RoadmapToSuccess/arrow-down.svg")" />
                </div>                
            </a>
        </div>
        <div class="flex-item item-4">
            <a class="pdf" target="_blank" href="@Resources.Common.QualifyAsSilverLink">
                <div class="cell H color3">
                    <div class="cell-content">
                        <span>@Resources.Common.QualifyAsSilver</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-5">
            <a class="pdf" target="_blank" href="@Resources.Common.MaintainSilverLink">
                <div class="cell H color4" style="border-right: @wborder solid #FFFFFF;">
                    <div class="cell-content">
                        <span>@Resources.Common.MaintainSilver</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-6">
            <div class="cell-content">
                <div style="color:#2272BA;">
                    <span style="font-weight: bold;">@Resources.Common.GetToSilver</span>
                    <span class="popup" onmouseover="hoverInfo()" onmouseout="unhoverInfo()">
                        <i class="fa fa-info-circle fa-xs" aria-hidden="true" style="font-size: 10px"></i>
                        <span class="popuptext" id="info">
                            @Resources.Common.RecipeForSuccess
                        </span>
                    </span>
                </div>
                <div style="margin-top: @iheight;">
                    <div id="triangle-part1">
                        <img style="height: 100%" src="@Url.Content("~/Content/images/RoadmapToSuccess/10.svg")" />
                        <span style="margin: 0; color: #80B4D6;">@Resources.Common.Prospects</span>
                    </div>
                    <div id="triangle-part2">
                        <img style="height: 100%;" src="@Url.Content("~/Content/images/RoadmapToSuccess/3.svg")" />
                        <span style="margin: 0; color: #7299D0;">@Resources.Common.Meetings<br /></span>
                    </div>
                    <div id="triangle-part3">
                        <img style="height: 100%;" src="@Url.Content("~/Content/images/RoadmapToSuccess/1.svg")" />
                        <span style="margin: 0; color: #2272BA;">@Resources.Common.NewConsultantEnrollment<br /></span>
                    </div>
                </div>
                <span id="popup-mobile">
                    @Resources.Common.RecipeForSuccess
                </span>
            </div>
        </div>
        <div class="flex-item item-7">
            <a class="pdf" target="_blank" href="@Resources.Common.UseYourStarLink">
                <div class="cell S W color1">
                    <div class="cell-content">
                        <div>
                            @Html.Raw(HttpUtility.HtmlDecode(String.Format(Resources.Common.UseYourStar, "<y>STAR</y>")))
                        </div>
                        <div id="star">
                            <y1 style="display: block; margin: 0; ">@Resources.Common.StarShare</y1>
                            <y1 style="display: block; margin: 0; ">@Resources.Common.StarTell</y1>
                            <y1 style="display: block; margin: 0; ">@Resources.Common.StarAnswer</y1>
                            <y1 style="display: block; margin: 0; ">@Resources.Common.StarRecommend</y1>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-8">
            <a class="clickable">
                <div class="cell H mv-down color1" style="border-right: @wborder solid #FFFFFF;" onclick="showModal2()">
                    <div class="cell-content">
                        <span style="margin-top: 20%;">
                            @Resources.Common.ContactYourProspects<br />
                        </span>
                        <img style="width: 15%; margin: 2% 5%" src="@Url.Content("~/Content/images/RoadmapToSuccess/icon-people.svg")" />
                        <img style="width: 15%; margin: 2% 5%" src="@Url.Content("~/Content/images/RoadmapToSuccess/icon-laptop.svg")" />
                        <img style="width: 15%; margin: 2% 5%" src="@Url.Content("~/Content/images/RoadmapToSuccess/icon-phone.svg")" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-9">
            <a class="yt-video" target="_blank" href="@Resources.Common.ScheduleNextContactLink">
                <div class="cell N E mv-down color2">
                    <div class="cell-content" style="transform: translateY(calc(50% - (3 * @iheight)))">
                        <span>@Resources.Common.WatchTheVideo</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-10"></div>
        <div class="flex-item item-11">
            <div class="cell N W mv-down2 color2">
                <div class="cell-content" style="font-weight:bold; font-size: 30px; white-space: pre; transform: translateY(calc(50% - (5 * @iheight)))">GO!! </div>
            </div>
        </div>
        <div class="flex-item item-12">
            <a class="clickable">
                <div class="cell H mv-down2 color2" onclick="showModal()">
                    <div class="cell-content">
                        <span>@Resources.Common.StartTakingImmunocal</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-13">
            <a class="pdf" target="_blank" href="@Resources.Common.SetYourGoalLink">
                <div class="cell H mv-down2 color2" style="border-right: @wborder solid #FFFFFF;">
                    <div class="cell-content">
                        <span>@Resources.Common.SetYourGoal</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-14">
            <a class="pdf" target="_blank" href="@Resources.Common.MakeYourProspectListLink">
                <div class="cell S E color2 mv-down">
                    <div class="cell-content">
                        <span>@Resources.Common.MakeYourProspectList</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex-item item-15">
            <img src="@Url.Content("~/Content/images/RoadmapToSuccess/arrow-1.svg")" />
        </div>
        <div class="flex-item item-16">
            <div class="cell H color4 mv-down2" style="width:calc(50% + @wborder); border-right: @wborder solid #FFFFFF;">
                <div class="cell-content">
                    <img style="width: 50%;" src="@Url.Content("~/Content/images/RoadmapToSuccess/Arrow.svg")" />
                </div>
            </div>
        </div>
        <div class="flex-item item-17">
            <img src="@Url.Content("~/Content/images/RoadmapToSuccess/arrow-2.svg")" />
        </div>
        <div class="flex-item item-18">
            <img src="@Url.Content("~/Content/images/RoadmapToSuccess/arrow-2.svg")" />
        </div>
        <div class="flex-item item-19">
            <img src="@Url.Content("~/Content/images/RoadmapToSuccess/arrow-3.svg")" />
        </div>
        <div class="flex-item item-20">
            <div class="cell-content">
                <img src="@Url.Content("~/Content/images/immunotec-logo_{0}.svg".FormatWith(languageCode))" />
            </div>
        </div>
    </div>

@{var modalRoadmapWborder = "7px";}

<div class="modal" id="modal-roadmap" style="z-index: 9999999 !important;">
    <div class="modal-content">
        <div style="color: #1F2A44; padding:0 0 5px 10px; font-size: 16px;">@Resources.Common.HowToMix</div>
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-25">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.MixImmunocal1</span>
                </div>
            </div>
        </a>
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-25">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.MixImmunocal2</span>
                </div>
            </div>
        </a>
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-25">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.MixImmunocal3</span>
                </div>
            </div>
        </a>
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-25">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.MixImmunocal4</span>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="modal" id="modal-roadmap2" >
    <div class="modal-content" >
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-50">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.Prospects1</span>
                </div>
            </div>
        </a>
        <a class="yt-video" target="_blank" href="https://www.youtube.com/watch?v=N3di2a39VYU">
            <div class="cell H color2 modal-cellstyle-50">
                <div class="cell-content padding-25">
                    <span>@Resources.Common.Prospects2</span>
                </div>
            </div>
        </a>
    </div>
</div>

<style>
    body { background-color: @backgound; }
    
    @@media only screen and (min-width: 600px) {
        
        #roadmap {
            margin: 80px auto;
            padding: 0 5%;
            font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .flex-container {
	        width: 100%;
	        margin: auto;
	        display: flex;
	        flex-wrap: wrap;
	        justify-content: space-around;
        }

        .flex-item {
	        width: 20%;
	        height: 140px;
        }

        .item-15 {
	        visibility: hidden;
        }

        .item-17 {
	        visibility: hidden;
        }

        .item-18 {
	        visibility: hidden;
        }

        .item-19 {
	        visibility: hidden;
        }

        .cell {
            display: block;
            position: relative;
            float: left;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: visible;
            z-index: 1;
        }

        .cell-content {
            color: #FFFFFF;
            position: relative;
            top: calc(50% );
            transform: translateY(-50%);
            width: 100%;
        }

        .cell .cell-content {
            text-align: center;
        }

        .H {
            height: calc(@height - (2 * @iheight));
            border: @wborder solid #FFFFFF;
            border-right: none;
        }

        .N, .N::before { border-top: @wborder solid #FFFFFF; }

        .N .cell-content { transform: translateY(calc(50% - (3 *@iheight))); }

        .N::before, .N::after { bottom: 0px; }

        .E, .E::before {
            border-right: @wborder solid #FFFFFF;
        }

        .E::before, .W::after { left: 0px; }

        .S, .S::before { border-bottom: @wborder solid #FFFFFF; }

        .S .cell-content { transform: translateY(calc(50% - @iheight)); }

        .S::before, .S::after { top: 0px; }

        .W, .W::before { border-left: @wborder solid #FFFFFF; }

        .W::before, .E::after { right: 0px; }

        .N::before, .S::before, .N::after, .S::after {
            content: '';
            position: absolute;
        }

        .N::before, .S::before {
            padding: @iheight 25%;
            background: @backgound;
        }

        .N::after, .S::after {
            background-color: white;
            padding: calc(@wborder / 4) 25%;
        }

        .N.E { border-top-right-radius: calc(0.7 * @height); }

        .N.E::before { border-top-right-radius: 30px; }

        .S.E { border-bottom-right-radius: calc(0.7 * @height); }

        .S.E::before { border-bottom-right-radius: 30px; }

        .S.W { border-bottom-left-radius: calc(0.7 * @height); }

        .S.W .cell-content {
            text-align: left;
            transform: translate(35%,calc(-50% + @iheight ));
        }

        .S.W::before { border-bottom-left-radius: 30px; }

        .N.W { border-top-left-radius: calc(0.7 * @height); }

        .N.W::before { border-top-left-radius: 30px; }

        .mv-down { margin-top: calc( @iheight * 2); }

        .mv-down2 { margin-top: calc( @iheight * 4); }

        .item-1 {
            transform: translateY(-50%);
        }

        #title::first-line { font-size:15px; }

        #invite-button-container {
            display: block;
            position: relative;
            left: calc(50% - 40px);
        }

        .invite-button {
            margin: 5px;
            padding: 5px 10px;
            background-color:#FFFFFF;
            color:#2272BA;
            float:left;
            font-size: 10px;
        }

        .invite-button:hover { background-color: #FED304; }

        .popup {
            position: relative;
        }

        #popup-mobile {
            display: none;
        }

        .popup .popuptext::before {
            content: "";
            height: 0;
            width: calc(100% + 60px);
            position: absolute;
            left: -45px;
            top: -10px;
            z-index: -1;
            border-bottom: calc(7.5 * @iheight) solid #FFFFFF;
            border-left: 45px solid transparent;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
        }

        .popup .popuptext {
            height: calc(7.5 * @iheight );
            width: 150px;
            position: absolute;
            top: 19px;
            left: 50px;
            margin-top: calc((@iheight / 2) + 15px);
            margin-left: -75px;
            z-index: 4;
            font-size: 10px;
            color: black;
            visibility: hidden;
            @(languageCode != "en"? "line-height: 1em;": "")
        }

        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: -30px;
            left: 20px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #FFFFFF transparent;
        }

        y { color: #FED304; }

        y1::first-letter { color: #FED304; }

        .color1, .color1 .cell { background-color: #2272BA; }

        a .color1:hover, a .color1:hover > * { background-color: #195387; }

        .color2 { background-color: #1F2A44; }

        a .color2:hover { background-color: #14252B; }

        .color3 { background-color: #B2B6B6; }

        .color3 .cell-content { color: #1F2A44; }

        a .color3:hover { background-color: #E3E8E8; }

        .color4 { background-color: #80B4D6; }

        a:hover .cell-content > * { display: none; }

        a .color4:hover {
            background-color: #6289A3;
        }

            a:hover .cell-content > * { display: none; }

        .pdf:hover .cell {
            background-image: url( @Url.Content("~/Content/images/RoadmapToSuccess/file-pdf-regular.svg") );
            background-repeat: no-repeat;
            background-position: center;
        }

        .yt-video:hover .cell {
            background-image: url(@Url.Content("~/Content/images/RoadmapToSuccess/play-circle-regular.svg"));
            background-repeat: no-repeat;
            background-position: center;
        }

        .clickable:hover .cell {
            background-image: url(@Url.Content("~/Content/images/RoadmapToSuccess/mouse-solid.svg"));
            background-repeat: no-repeat;
            background-position: center;
        }

        #star {
            font-size: @(languageCode == "fr"? "9px" : "12px");
            margin-right: -5px;
        }

        #modal-roadmap {
            position: fixed;
            padding-top: 165px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        #modal-roadmap2 {
            position: fixed;
            padding-top: 165px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            height: calc(@height * 1.25);
            margin: auto;
            padding: 15px;
            border: 1px solid #888;
            width: 70%;
            border-radius: 0;
        }

        #modal-roadmap2 .modal-content{
            width: 50%;
            height: calc(@height * 1.05);
        }

        #title {
            display: block;
            color: #1F2A44;
            font-weight: bold;
            font-size: 25px;
            line-height: 1em;
        }

        #title::first-line { font-size:15px; }

        .modal-cellstyle-25 {
            width: 25%; 
            border-right: 
            @modalRoadmapWborder solid #FFFFFF;
        }

        .padding-25 {
            padding:25%;
        }

        .modal-cellstyle-50 {
             width: 50%; 
             border-right: @modalRoadmapWborder solid #FFFFFF;
        }

        #select-country {
            color:#1F2A44;
            font-size:12px;
        }

        #triangle-part1 {
            position: relative; left: 0; height: calc(2.5 * @iheight);
        }

        #triangle-part2 {
            position: relative; left: calc(@iheight + 4px); height: calc(2.5 * @iheight);
        }

        #triangle-part3 {
            position: relative; left: calc(2 * (@iheight + 4px)); height: calc(2.5 * @iheight);
        }

        #arrow-down-id {
            width: 100%;
            text-align: center;
        }

        #triangle-part1 span, #triangle-part2 span, #triangle-part3 span{
            font-size: 13px;
        }
    }

    @@media only screen and (max-width: 600px) {

        #roadmap {
            margin: 0;
            padding: 0;
            font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .flex-container {
	        margin: auto;
	        display: flex;
	        flex-wrap: wrap;
	        justify-content: flex-start;
        }

        .flex-item {
	        width: 100%;
            height: 130px;
	        justify-content: center;
	        align-items: center;
        }

        .item-1 {
	        order: -20;
	        width: 100%;
        }

        .item-2 {
	        order: -10;
	        width: 80%;
        }

        .item-3 {
	        order: -8;
	        width: 80%;
        }

        .item-4 {
	        order: -6;
        }

        .item-5 {
	        order: -5;
        }

        .item-6 {
	        order: -15;
        }

        .item-7 {
	        order: -12;
	        width: 80%;
        }

        .item-8 {
	        order: -14;
	        width: 80%;
        }

        .item-9 {
	        order: -16;
        }

        .item-10 {
	        display: none;
        }

        .item-11 {
	        display: none;
        }

        .item-12 {
	        order: -19;
        }

        .item-13 {
	        order: -18;
        }

        .item-14 {
	        order: -17;
        }

        .item-15 {
	        order: -13;
	        width: 20%;
        }

        .item-16 {
	        display: none;
        }

        .item-17 {
	        order: -11;
	        width: 20%;
        }

        .item-18 {
	        order: -9;
	        width: 20%;
        }

        .item-19 {
	        order: -7;
	        width: 20%;
        }

        .item-20 {
	        order: -21;
	        width: 100%;
        }
        
        .cell {
            display: block;
            position: relative;
            float: left;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow: visible;
            z-index: 1;
            border: @wborder solid #FFFFFF;
        }

        .cell-content {
            color: #FFFFFF;
            position: relative;
            top: calc(35%);
            transform: translateY(-50%);
            width: 100%;
            font-size: 25px;
        }

        .item-7 .cell-content {
            top: calc(50%);
        }

        .item-8 .cell-content {
            top: calc(50%);
        }

        .cell .cell-content {
            text-align: center;
        }

        #title {
            display: block;
            color: #1F2A44;
            font-weight: bold;
            font-size: 25px;
        }

        #title::first-line { font-size:15px; }

        #invite {
            top: 20%;
        }

        #invite-button-container {
            display: block; 
            position: relative; left: calc(50% - 100px);
        }

        .invite-button {
            margin: 5px;
            padding: 15px 35px;
            background-color:#FFFFFF;
            color:#2272BA;
            float:left;
            font-size: 20px;
        }

        .invite-button:hover { background-color: #FED304; }

        .popup {
            display: none;
        }

        #popup-mobile {
            display: block;
            line-height: 1.3em;
            font-size: 15px;
            color: #000000;
        }

        .item-6 {
            padding: 0 10%;
            height: 300px;
        }

        .item-6 span {
            font-size: 16px;
            line-height: 0.5em;
        }

        .item-6 .cell-content {
            top: 50%;
        }

        .popup .popuptext::before {
            content: "";
            height: 0;
            width: calc(100% + 60px);
            position: absolute;
            left: -45px;
            top: -10px;
            z-index: -1;
            border-bottom: calc(7.5 * @iheight ) solid #FFFFFF;
            border-left: 45px solid transparent;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
        }

        .popup .popuptext {
            height: calc(7.5 * @iheight );
            width: 150px;
            position: absolute;
            top: 19px;
            left: 50px;
            margin-top: calc((@iheight / 2) + 15px);
            margin-left: -75px;
            z-index: 4;
            font-size: 10px;
            color: black;
            visibility: hidden;
            @(languageCode != "en"? "line-height: 1em;": "")
        }

        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: -30px;
            left: 20px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #FFFFFF transparent;
        }

        y { color: #FED304; }

        y1::first-letter { color: #FED304; }

        .color1, .color1 .cell {
            background-color: #2272BA;
        }

        a .color1:hover, a .color1:hover > * {
            background-color: #195387;
        }

        .color2 {
            background-color: #1F2A44;
        }

        a .color2:hover {
            background-color: #14252B;
        }

        .color3 {
            background-color: #B2B6B6;
        }

            .color3 .cell-content {
                color: #1F2A44;
            }

        a .color3:hover {
            background-color: #E3E8E8;
        }

        .color4 {
            background-color: #80B4D6;
        }

        a .color4:hover {
            background-color: #6289A3;
        }

        .pdf .cell {
            background-image: url( @Url.Content("~/Content/images/RoadmapToSuccess/file-pdf-regular.svg") );
            background-repeat: no-repeat;
            background-position: center 80%;
        }

        .yt-video .cell {
            background-image: url( @Url.Content("~/Content/images/RoadmapToSuccess/play-circle-regular.svg") );
            background-repeat: no-repeat;
            background-position: center;
            background-position: center 80%;
        }

        .clickable .cell {
            background-image: url( @Url.Content("~/Content/images/RoadmapToSuccess/hand-point-up-regular.svg")
            );
            background-repeat: no-repeat;
            background-position: center;
            background-position: center 80%;
        }

        .item-7 .cell {
            background-image: none;
        }

        .item-8 .cell {
            background-image: none;
        }

        #star {
            font-size: @(languageCode == "fr"? "9px" : "15px"); 
            margin-right: -5px;
            text-align: left;
            transform: translateX(20%);
        }

        #modal-roadmap {
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(0,0,0,0.4);
        }

        #modal-roadmap2 {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            border: 1px solid #888;
            width: 100%;
            border-radius: 0;
        }

        #modal-roadmap2 .modal-content{
            width: 100%;
        }

        .modal-content .cell-content {
            top: 50%;
            font-size: 20px;
            line-height: 1em;
        }

        #title {
            display: block;
            color: #1F2A44;
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            padding: 0 5%;
        }

        #title::first-line { font-size:20px; }

        .modal-cellstyle-25 {
            height: 16%;
            width: 100%; 
            border-right: @modalRoadmapWborder solid #FFFFFF;
        }

        .padding-25 {
            padding:25%;
        }

        .modal-cellstyle-50 {
             height: 16%;
             width: 100%; 
             border-right: @modalRoadmapWborder solid #FFFFFF;
        }
        
        #select-country {
            display: none;
        }

        .item-20 {
            padding: 0 10%;
            height: 100px;
        }

        #country-dropdown {
            top: -10%;
            left: 10%;
        }

        .item-1 {
            height: 120px;
        }

        #triangle-part1 {
            position: relative; left: 0; height: calc(5 * @iheight);
        }

        #triangle-part2 {
            position: relative; left: calc(@iheight + 18px); height: calc(5 * @iheight);
        }

        #triangle-part3 {
            position: relative; left: calc(2 * (@iheight + 18px)); height: calc(5 * @iheight);
        }

        #arrow-down-id {
            display: none;
        }
    }
</style>

<script>
    function hoverArrow() {
        document.getElementById("arrow").setAttribute('src', '@Url.Content("~/Content/images/RoadmapToSuccess/Arrow-Loop-2.svg")');
    }

    function unhoverArrow() {
        document.getElementById("arrow").setAttribute('src', '@Url.Content("~/Content/images/RoadmapToSuccess/Arrow-Loop.svg")');
    }

    function hoverInfo() {
        document.getElementById("info").style.visibility = 'visible';
    }

    function unhoverInfo() {
        document.getElementById("info").style.visibility = 'hidden';
    }

    function showModal() {
        document.getElementById("modal-roadmap").style.display = "block";
    }

    function showModal2() {
        document.getElementById("modal-roadmap2").style.display = "block";
    }

    window.onclick = function (event) {
        var modal = document.getElementById("modal-roadmap");
        if (event.target == modal) {
            modal.style.display = "none";
        }
        modal = document.getElementById("modal-roadmap2");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>